@charset "UTF-8";

//FONT
@font-face {
  font-family: "MyFont";
  src: url("../Font/851MkPOP_100.woff") format("woff"), 
  url("../Font/851MkPOP_100.ttf") format("opentype");
}

// 関数

$bg:#c9d6b1;
$text:#251f47;
$yellow:#ffd700;
$bg2:#f1f1f1;
$gray:#707070;
$nav:#95C498;
$btn:#9DC965;
$text-hover:#7C6640;

$G:Georgia, 'Times New Roman', Times, serif;
$A:Arial, Helvetica, sans-serif;
$M:MyFont, sans-serif;




//mixin
@mixin f_around($pixels, $height:false, $weight: false, $spacing:false){
  font-size: $pixels * 1px;
  @if $weight{
    font-weight: $weight;
  }
  @if $height{
    line-height: $height / $pixels;
  }
  @if $spacing{
    letter-spacing: ($spacing / 1000)*1em;
  }
};

@mixin title($sub,$position-top,$position-right){
  font-family: $G;
  @include f_around
  (40, 50, 400, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  white-space: nowrap;
  
  &::after{
    content: $sub;
    @include f_around(20, 50, 400, 0);
    margin-left: 10px;
  }
  &::before{
    content: "";
    width: 400px;
    height: 2px;
    background: $yellow;
    position: absolute;
    right: $position-right;
    top: $position-top;
  }
  @media(max-width:768px){
    font-size: 36px;
    &::after{
      font-size: 16px;
    }
    &::before{
      width: 60vw;
    }
  
}
};

@mixin card{   
  position: relative;
  a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  } 
  img{
    max-width: 350px;
    width: (350/1440)*100vw;
    max-height: 220px;
    height: (220/1440)*100vw;
    object-fit: cover;
    
  }
  .text{
    padding: 10px 20px;
    background: $gray;
    color: white;
    max-width: 350px;
    width: (350/1440)*100vw;
    max-height: 130px;
    height: (130/1440)*100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
     .title{
      @include f_around(14, 14, 700, 0);
      margin-bottom: 8px;
    }
    .desc{
      @include f_around(12, 16, 400, 0);
    }
  }
  
};

//共有

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  box-sizing: border-box;
  color: $text;
  font-family: $A;
  
}



@import "header";

@import "fv";


@import "about";

@import "service";

@import "works";

@import "contact";


@import "footer";

.thanks{
  padding-top: 80px;
  
  &__container{
    background: url(../image/fv2.png)no-repeat center/cover;
    padding: 100px 50px;
    margin: 0 auto;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    img{
      width: 70vw;
      height: 200px;
      object-fit: cover;
      opacity: 0.7;
      border-radius: 20px;
      margin-bottom: 30px;
      text-align: center;
    }
    &--title{
      @include f_around(20, 30, 400, 0);
      color: $text;
      margin-bottom: 40px;
      text-align: center;
      white-space: nowrap;
    }
    button{
      border-radius: 10px;
      background: $btn;
      width: 120px;
      height: 40px;
      text-align: center;
      position: relative;
      &:hover{
        background: $bg;
      }
      a{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      p{
        font-family: $A;
        color: white;
        @include f_around(14, 40, 400, 0);
        &:hover{
          color: $text-hover;
        }
      }
    }
  }
}