@charset "UTF-8";
@font-face {
  font-family: "MyFont";
  src: url("../Font/851MkPOP_100.woff") format("woff"), url("../Font/851MkPOP_100.ttf") format("opentype");
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #251f47;
  font-family: Arial, Helvetica, sans-serif;
}

/*--- ヘッダーナビゲーション --*/
.header {
  background: #95C498;
  width: 100vw;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 1;
}

.header__nav--ul {
  max-width: 1044px;
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__nav--ul li {
  margin-right: 30px;
}

.header__nav--ul li:last-of-type {
  margin-right: 0;
}

.header__nav--ul li a {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 3.75;
  letter-spacing: 0em;
}

.header__nav--ul li a:hover {
  color: #7C6640;
}

.header .button {
  display: none;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header .hamburger {
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 3;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
  -webkit-box-shadow: 0 0 2rem transparent;
          box-shadow: 0 0 2rem transparent;
  outline: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header .hamburger:hover, .header .hamburger:focus {
  -webkit-box-shadow: 0 0 0.5rem rgba(161, 161, 161, 0.5);
          box-shadow: 0 0 0.5rem rgba(161, 161, 161, 0.5);
}

.header .hamburger__line {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 18px;
  height: 2px;
  background-color: white;
  -webkit-transition: inherit;
  transition: inherit;
}

.header .hamburger__line::before, .header .hamburger__line::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  content: '';
  -webkit-transition: inherit;
  transition: inherit;
}

.header .hamburger__line::before {
  top: -5px;
}

.header .hamburger__line::after {
  top: 5px;
}

.header .hamburger[aria-expanded="true"] {
  border: 1px solid #fff !important;
}

.header .hamburger[aria-expanded="true"] .hamburger__line {
  background-color: transparent;
}

.header .hamburger[aria-expanded="true"] .hamburger__line::before, .header .hamburger[aria-expanded="true"] .hamburger__line::after {
  top: 0;
  background-color: white;
}

.header .hamburger[aria-expanded="true"] .hamburger__line::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header .hamburger[aria-expanded="true"] .hamburger__line::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header .sp-global-menu {
  position: fixed;
  width: 100vw;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  height: 100vh;
  background-color: #c9d6b1;
  color: #fff;
  visibility: hidden;
}

.header .sp-global-menu nav ul {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .sp-global-menu nav ul li {
  margin-bottom: 30px;
}

.header .sp-global-menu nav ul li a {
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0em;
}

.header .sp-global-menu nav ul li a:hover {
  color: #7C6640;
}

@media (max-width: 768px) {
  .header__nav--ul {
    display: none;
  }
  .header .button {
    display: inline-block;
  }
}

/*-- FV --*/
.fv {
  margin-top: 60px;
}

.fv__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1304px;
  width: 90%;
  margin: 50px auto;
  padding-top: 50px;
  position: relative;
}

.fv__container img {
  width: 45vw;
  min-width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.fv__container .wrapper {
  position: absolute;
  top: 30%;
  right: 5%;
  margin-right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.fv__container--title {
  border: 1px solid #f1f1f1;
  width: 436px;
  height: 332px;
  padding: 25px 30px;
  position: relative;
  background: white;
}

.fv__container--title h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #707070;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0em;
  margin-bottom: 56px;
}

.fv__container--title h1 span {
  letter-spacing: 200;
}

.fv__container--title h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #251f47;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0em;
  margin-bottom: 40px;
}

.fv__container--title h2 .mb {
  display: none;
}

.fv__container--title button {
  border-radius: 10px;
  background: #9DC965;
  width: 120px;
  height: 40px;
  text-align: center;
  position: relative;
}

.fv__container--title button:hover {
  background: #c9d6b1;
}

.fv__container--title button a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fv__container--title button p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.85714;
  letter-spacing: 0em;
}

.fv__container--title button p:hover {
  color: #7C6640;
}

.fv__container--title::after {
  content: "";
  width: 436px;
  height: 332px;
  background: #f1f1f1;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: -1;
}

@media (max-width: 768px) {
  .fv__container--title {
    width: 280px;
    height: 368px;
  }
  .fv__container--title h1 {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .fv__container--title h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .fv__container--title h2 .mb {
    display: block;
  }
  .fv__container--title::after {
    width: 280px;
    height: 368px;
    top: 30px;
    left: 30px;
  }
}

@media (max-width: 450px) {
  .fv {
    background: url(../image/fv2.png) no-repeat center/cover;
    width: 100vw;
    height: 100vh;
  }
  .fv__container {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  .fv__container img {
    display: none;
  }
  .fv__container .wrapper {
    top: 50%;
    right: 50%;
    margin-right: 0;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
  .fv__container--title::after {
    top: 20px;
    left: 20px;
  }
}

/*--About me--*/
.about__container {
  max-width: 1400px;
  width: 95%;
  background: #c9d6b1;
  padding: 158px 196px 158px 100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__container--text {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 60px;
  width: 600px;
}

.about__container--text-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: 36px;
  white-space: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about__container--text-title::after {
  content: "-なにものなのか-";
  font-size: 20px;
  font-weight: 400;
  line-height: 2.5;
  letter-spacing: 0em;
  margin-left: 10px;
}

.about__container--text-title::before {
  content: "";
  width: 400px;
  height: 2px;
  background: #ffd700;
  position: absolute;
  right: 0;
  top: 50px;
}

@media (max-width: 768px) {
  .about__container--text-title {
    font-size: 36px;
  }
  .about__container--text-title::after {
    font-size: 16px;
  }
  .about__container--text-title::before {
    width: 60vw;
  }
}

.about__container--text-name {
  font-size: 30px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0em;
  font-family: MyFont, sans-serif;
  margin-bottom: 28px;
}

.about__container--text-name span {
  margin-right: 10px;
  color: #ffd700;
}

.about__container--text-name span a {
  width: 100%;
}

.about__container--text-name span:hover {
  color: #f1f1f1;
}

.about__container--text-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.875;
  letter-spacing: 0em;
  font-family: Arial, Helvetica, sans-serif;
}

.about__container--text-img {
  display: none;
}

.about__container img {
  width: 27vw;
  min-width: 300px;
}

@media (max-width: 1020px) {
  .about__container {
    padding: 120px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__container--text {
    text-align: center;
    margin-right: 0;
    margin-bottom: 60px;
    width: auto;
  }
  .about__container--text-title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 60px;
  }
  .about__container--text-title::before {
    right: auto;
  }
  .about__container--text-img {
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .about__container .pc-img {
    display: none;
  }
}

/*--Service--*/
.service__container {
  width: 90vw;
  margin: 0 auto;
  padding: 120px 20px;
}

.service__container--title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: 100px;
}

.service__container--title::after {
  content: "-わたしにできること-";
  font-size: 20px;
  font-weight: 400;
  line-height: 2.5;
  letter-spacing: 0em;
  margin-left: 10px;
}

.service__container--title::before {
  content: "";
  width: 400px;
  height: 2px;
  background: #ffd700;
  position: absolute;
  right: auto;
  top: 50px;
}

@media (max-width: 768px) {
  .service__container--title {
    font-size: 36px;
  }
  .service__container--title::after {
    font-size: 16px;
  }
  .service__container--title::before {
    width: 60vw;
  }
}

.service__container--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service__container--items .item {
  width: 310px;
  border: 1px solid #95C498;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 24px;
  margin-bottom: 40px;
  padding: 5px;
}

.service__container--items .item:last-of-type {
  margin-right: 0;
}

.service__container--items .item img {
  width: 100px;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  margin: 50px auto;
}

.service__container--items .item-text {
  background: #c9d6b1;
  padding: 20px;
  height: 300px;
}

.service__container--items .item-text-title {
  font-size: 35px;
  font-weight: 400;
  line-height: 1.42857;
  letter-spacing: 0em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.service__container--items .item-text-desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71429;
  letter-spacing: 0em;
}

.service__container--desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  letter-spacing: 0em;
  text-align: center;
}

.service__container--desc p {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .service__container--items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .service__container--items .item {
    margin-right: 0;
  }
}

/*--Works--*/
.works {
  padding-top: 100px;
}

.works__container {
  max-width: 1400px;
  width: 95vw;
  margin: 0 auto;
  padding-bottom: 120px;
}

.works__container--title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: 100px;
}

.works__container--title::after {
  content: "-いままでつくったもの-";
  font-size: 20px;
  font-weight: 400;
  line-height: 2.5;
  letter-spacing: 0em;
  margin-left: 10px;
}

.works__container--title::before {
  content: "";
  width: 400px;
  height: 2px;
  background: #ffd700;
  position: absolute;
  right: auto;
  top: 50px;
}

@media (max-width: 768px) {
  .works__container--title {
    font-size: 36px;
  }
  .works__container--title::after {
    font-size: 16px;
  }
  .works__container--title::before {
    width: 60vw;
  }
}

.works__container--practice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #f1f1f1;
  margin-bottom: 50px;
  padding: 30px 40px;
}

.works__container--practice-text {
  max-width: 320px;
  margin-right: 20px;
}

.works__container--practice-text .title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.78571;
  letter-spacing: 0em;
  margin-bottom: 50px;
  text-align: center;
}

.works__container--practice-text .desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.66667;
  letter-spacing: 0em;
}

.works__container--practice-text .desc a {
  color: #707070;
}

.works__container--practice-text .desc a:hover {
  color: #7C6640;
}

.works__container--practice-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.works__container--practice-items .card {
  position: relative;
}

.works__container--practice-items .card a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.works__container--practice-items .card img {
  max-width: 350px;
  width: 24.30556vw;
  max-height: 220px;
  height: 15.27778vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.works__container--practice-items .card .text {
  padding: 10px 20px;
  background: #707070;
  color: white;
  max-width: 350px;
  width: 24.30556vw;
  max-height: 130px;
  height: 9.02778vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.works__container--practice-items .card .text .title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0em;
  margin-bottom: 8px;
}

.works__container--practice-items .card .text .desc {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33333;
  letter-spacing: 0em;
}

.works__container--biz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #f1f1f1;
  padding: 30px 40px;
}

.works__container--biz-text {
  max-width: 320px;
  margin-left: 40px;
}

.works__container--biz-text .title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.78571;
  letter-spacing: 0em;
  margin-bottom: 50px;
  text-align: center;
}

.works__container--biz-text .desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.66667;
  letter-spacing: 0em;
}

.works__container--biz-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 20px;
}

.works__container--biz-items .card {
  position: relative;
}

.works__container--biz-items .card a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.works__container--biz-items .card img {
  max-width: 350px;
  width: 24.30556vw;
  max-height: 220px;
  height: 15.27778vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.works__container--biz-items .card .text {
  padding: 10px 20px;
  background: #707070;
  color: white;
  max-width: 350px;
  width: 24.30556vw;
  max-height: 130px;
  height: 9.02778vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.works__container--biz-items .card .text .title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0em;
  margin-bottom: 8px;
}

.works__container--biz-items .card .text .desc {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33333;
  letter-spacing: 0em;
}

@media (max-width: 1020px) {
  .works__container--practice {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 80px;
    padding-bottom: 70px;
  }
  .works__container--practice-text {
    max-width: 650px;
    margin-bottom: 30px;
    margin-right: 0;
  }
  .works__container--practice-items .card img {
    min-width: 300px;
    min-height: 170px;
  }
  .works__container--practice-items .card .text {
    min-width: 300px;
    min-height: 80px;
  }
  .works__container--biz {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 80px;
    padding-bottom: 70px;
  }
  .works__container--biz-text {
    max-width: 650px;
    margin-bottom: 30px;
    margin-left: 0;
  }
  .works__container--biz-items .card img {
    min-width: 300px;
    min-height: 180px;
  }
  .works__container--biz-items .card .text {
    min-width: 300px;
    min-height: 80px;
  }
}

@media (max-width: 768px) {
  .works__container--practice-items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .works__container--practice-items .card img {
    max-width: none;
    width: 78.125vw;
  }
  .works__container--practice-items .card .text {
    max-width: none;
    width: 78.125vw;
  }
  .works__container--biz-items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .works__container--biz-items .card img {
    max-width: none;
    width: 78.125vw;
  }
  .works__container--biz-items .card .text {
    max-width: none;
    width: 78.125vw;
  }
}

/*--Contact--*/
.contact {
  padding: 100px 0 50px;
}

.contact__container {
  max-width: 1400px;
  width: 95%;
  margin: 0 auto;
  text-align: center;
  background: #c9d6b1;
  padding: 120px 0;
}

.contact__container--title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: 70px;
}

.contact__container--title::after {
  content: "-お問い合わせ-";
  font-size: 20px;
  font-weight: 400;
  line-height: 2.5;
  letter-spacing: 0em;
  margin-left: 10px;
}

.contact__container--title::before {
  content: "";
  width: 400px;
  height: 2px;
  background: #ffd700;
  position: absolute;
  right: auto;
  top: 50px;
}

@media (max-width: 768px) {
  .contact__container--title {
    font-size: 36px;
  }
  .contact__container--title::after {
    font-size: 16px;
  }
  .contact__container--title::before {
    width: 60vw;
  }
}

.contact__container--disc {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 80px;
  padding: 0 30px;
}

.contact__container--disc a {
  color: #f1f1f1;
}

.contact__container--disc a:hover {
  color: #7C6640;
}

.contact__container form {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__container form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  width: 47.91667vw;
  min-width: 270px;
}

.contact__container form div label {
  background: #707070;
  width: 150px;
  min-width: 150px;
  display: block;
  height: 35px;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.5;
  letter-spacing: 0em;
  color: white;
  border-radius: 5px 0 0 5px;
}

.contact__container form .wrapper .message {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.contact__container form .wrapper .message label {
  border-radius: 5px 5px 0 0;
}

.contact__container form input[type=text],
.contact__container form input[type=email] {
  background: white;
  width: 100%;
  height: 35px;
  font-size: 14px;
  text-align: left;
  padding-left: 10px;
  border-radius: 0 5px 5px 0;
  opacity: 0.8;
}

.contact__container form textarea {
  max-width: 750px;
  width: 47.91667vw;
  min-width: 270px;
  height: 200px;
  background: white;
  font-size: 14px;
  padding: 10px;
  text-align: left;
  border-radius: 0 5px 5px 5px;
  opacity: 0.8;
}

.contact__container form input[type=submit] {
  width: 200px;
  height: 50px;
  background: #707070;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  margin-bottom: 7px;
}

.contact__container form input[type=submit]:hover {
  border: 2px solid #707070;
  background: #f1f1f1;
  color: #707070;
}

.contact__container form .end-message {
  display: none;
}

.contact__container form .false-message {
  display: none;
}

@media (max-width: 768px) {
  .contact__container form div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 65.10417vw;
  }
  .contact__container form div label {
    border-radius: 5px 5px 0 0;
  }
  .contact__container form div input[type="text"],
  .contact__container form div input[type="email"] {
    border-radius: 0 5px 5px 5px;
  }
  .contact__container form div textarea {
    width: 65.10417vw;
  }
}

.footer {
  width: 100%;
  height: 40px;
  background: #95C498;
  margin: 0 auto;
  text-align: center;
}

.footer small {
  font-size: 10px;
  font-weight: 400;
  line-height: 4;
  letter-spacing: 0em;
  color: white;
}

.thanks {
  padding-top: 80px;
}

.thanks__container {
  background: url(../image/fv2.png) no-repeat center/cover;
  padding: 100px 50px;
  margin: 0 auto;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
}

.thanks__container img {
  width: 70vw;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.7;
  border-radius: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.thanks__container--title {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0em;
  color: #251f47;
  margin-bottom: 40px;
  text-align: center;
  white-space: nowrap;
}

.thanks__container button {
  border-radius: 10px;
  background: #9DC965;
  width: 120px;
  height: 40px;
  text-align: center;
  position: relative;
}

.thanks__container button:hover {
  background: #c9d6b1;
}

.thanks__container button a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.thanks__container button p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.85714;
  letter-spacing: 0em;
}

.thanks__container button p:hover {
  color: #7C6640;
}
/*# sourceMappingURL=style.css.map */